*{
    background-color: #231f20;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

}

a{
    text-decoration: none;
}

a:visited, a:link{
    text-decoration: none;
    color: #EAEAEA;
}

ul, li{
    list-style-type: none;
}

h2{
    font-size: 60px;
    font-weight: normal;
    text-align: center;
    width: 100%;
}

h3{
    font-size: 30px;
    font-weight: normal;
    width: 33%;
    margin-bottom: 15px;
}

h1, h2, p, h3, q{
    color: #EAEAEA;
    width: 100%;
}

nav a {
    color: #EAEAEA;
}

figure{
    margin:0;
}

.navigation-container {
    display: flex;
    justify-content: space-between;
    font-size: 44px;
    margin: 0% 10%;
    margin-top: 2%;
}

.active{
    color: lightblue !important;
}


main{
    margin: 0% 10%;
}

.flex-container{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.left-column, .right-column{
    width: 48%; 
}

img{
    width: 100%;
    margin-bottom: 1%;
}

.outline{
    margin: 2%;
}

.preview3split{
    width: 32%; 
    display:flex;
}

.sleepwalkimg{
    height: 350px;
    object-fit: contain;
}